:root {
    /*https://coolors.co/cae7b9-f3de8a-eb9486-7e7f9a-97a7b3  */
    --color1: #e8e1db;
    --color2: #a9ac5d;
    --color3: #6d6c3c;
    --color4: #3a3c26;
    --color5: #362e23;

    /* https://colorpalettes.net/color-palette-4568/ */

    /* --color1: #C8D2D1;
    --color3: #14471E;
    --color2: #EE9B01;
    --color5: #DA6A00;
    --color4: #68904D; */
}

body,
#root {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
    background-color: var(--color1);
    margin: 0px;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px auto 60px 30px 75px;
    grid-template-columns: auto;
    grid-gap: 5px;
    overflow: hidden;
    height: 100vh;
}

.grid-item-info {
    font-size: 20px;
    position: relative;
}
.grid-item-tree {
    overflow: auto;
    position: relative;
}
.svg-tree {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.node-extra-info {
    /* align-items: flex-end; */
}
.svg-tree-group {
    transform: translate(50%, 51%);
}
text {
    user-select: none;
}
.svg-tree-scale {
    /* scale: 0.85; */
    /* overflow: scroll; */
}

.node-connection {
    stroke: var(--color3);
    opacity: 0.4;
    transition: stroke 0.3s, opacity 0.3s;
}

.node-connection.selected {
    stroke: var(--color5);
    opacity: 1;
}

.text-name {
    fill: var(--color4);
    font-size: 20px;
    font-weight: 500;
    text-anchor: middle;
    transform: translate(0, -0.5rem);
    cursor: pointer;
    transition: font-size 0.2s;
}

.text-name.selected,
.text-name:hover {
    fill: rgb(136, 80, 136);
    font-size: 24px;
}
circle {
    fill: var(--color2);
    stroke: var(--color3);
    r: 5;
}

circle.root-circle {
    r: 10;
    fill: yellow;
}

circle.f {
    fill: rgb(222, 100, 120);
}

.grid-item-copyright,
.grid-item-info,
.grid-item-header {
    text-align: center;
}

.grid-item-header .title {
    background-color: var(--color4);
    color: var(--color1);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 22px;
}

.centered-text {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    width: 100%;
    /* background-color: black; */
}

.grid-item-header {
    position: relative;
}
a {
    color: #e8e1db;
}
a:hover {
    color: aqua;
}
.grid-item-footer {
    color: #e8e1db;
    background-color: var(--color4);
}

.contact-info {
    text-align: center;
    background-color: var(--color4);
    color: var(--color1);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
