:root {
    --color1: hsl(28, 22%, 88%);
    --color2: hsl(62, 32%, 52%);
    --color3: hsl(59, 29%, 33%);
    --color4: hsl(65, 22%, 19%);
    --color5: hsl(35, 21%, 17%);
}

body,
#root {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: var(--color1);
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    height: 100%;
}
.main.grid-container {
    grid-template-rows: 50px auto 55px;
    overflow: hidden;
}

.grid-item {
    /* border: 1px solid red; */
    position: relative;
}

.board.grid-container {
    grid-template-rows: auto 60px 30px;
}

.svg-tree {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg-tree-group {
    transform: translate(50%, 51%);
}

text {
    user-select: none;
}
.node-connection {
    stroke: var(--color3);
    opacity: 0.4;
    transition: stroke 0.3s, opacity 0.3s;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 20;
    }
}
.node-connection.selected {
    stroke: rgb(143, 60, 89);
    opacity: 1;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    animation: dash 1s linear infinite;
}

.text-name {
    fill: var(--color4);
    font-size: 20px;
    font-weight: 500;
    text-anchor: middle;
    transform: translate(0, -0.5rem);
    cursor: pointer;
    transition: font-size 0.2s;
}

.text-name.selected,
.text-name:hover {
    fill: rgb(136, 80, 136);
    font-size: 24px;
}
circle {
    fill: var(--color2);
    stroke: var(--color3);
    transition: r 1s, fill 1s;
}

circle.f {
    fill: rgb(222, 100, 120);
}
circle.root-circle {
    r: 11;
}

.controls {
    display: inline-block;
    stroke: 1px;
    outline: 1px red;
    padding: 2px;
    border: 1px solid #3a3c266a;
    margin-right: 5px;
    font-size: 12px;
    /* background-color: red; */
}

.grid-item-info {
    text-align: center;
}

.grid-item-header {
    position: relative;
}
a {
    color: #e8e1db;
}
a:hover {
    color: aqua;
}

circle.generation-circles {
    stroke: #b9b65648;
    stroke-width: 1;
    fill: none;
    stroke-dasharray: 10;
}

.bg-dark {
    background-color: var(--color4);
    color: var(--color1);
}
.centered-text {
    text-align: center;
}
.big-font {
    font-size: 24px;
}
.medium-font {
    font-size: 18px;
}
.centered-div {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
