body,
#root {
    background-color: #e8e1db;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}
.svg-disc {
    fill: #6d6c3c;
    stroke-width: 5;
    stroke: #e8e1db;
    cursor: pointer;
}

.svg-disc.focused {
    fill: #3a3c26;
}
.svg-disc-text {
    fill: #e8e1db;
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-rows: 45px auto 45px 25px 40px;
    grid-template-columns: auto;
    grid-gap: 5px;
    overflow: hidden;
    height: 100vh;
    outline: red 2px dashed;
    border: 2px;
}

.grid-item-header,
.grid-item-tree,
.grid-item-info,
.grid-item-copyright {
    /* border: #362e23 1px solid; */
}

.grid-item-info {
    font-size: 24px;
}
.grid-item-tree {
    overflow: hidden;
    position: relative;
}
.svg-tree {
    margin: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, -5%);
    /* background-color: black; */
}

.grid-item-copyright,
.grid-item-info,
.grid-item-header {
    text-align: center;
}

.grid-item-footer,
.grid-item-header {
    background-color: #3a3c26;
}

.centered-text {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #e8e1db;
    /* background-color: black; */
}
.grid-item-header {
    position: relative;
}

.grid-item-footer{
    text-align: center;
    color: #e8e1db;
}
